
<div class="content">
  <div class="row">
   <div class="card"  > 
    <div class="table-responsive">
      <table class="table table-centered table-hover mb-0" id="datatable">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th *ngFor="let row of purchases[0] | keyvalue"> {{row.key}}</th>
            
            
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of purchases">
              <td><input (click)="delete(p)" type="button" value="delete" /></td>
              <td><input [routerLink]="['../purchases', p.rowid ]" type="button" value="edit" /></td>
              <td  *ngFor="let c of p | keyvalue"> {{c.value}}</td>
             
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
